@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: "ubuntu mono" monospace */
}
#menu{
    background-color: #39e486;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu h1{
   color:black;
   letter-spacing: 2px;
   margin-left: 10px;

}
#menu ul{
    /* padding: 2%; */
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    height: 20px;
}
#menu a{
    text-decoration: none;
    color:white;
}
#teladefundo{
    color: white;
    height: 90vh;
    background: rgb(15,52,67);
    background: linear-gradient(124deg, rgba(15,52,67,1) 0%, rgba(46,202,143,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#button a{
    position: absolute;
    top: 60%;
    left: 27%;
    width: 180px;
    height:50px;
    font-size: 24px;
    font-size: larger;
    padding: 2%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
#button a:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
{
    background-position: 0%;
}
    100%
{
    background-position: 400%;
}
}
#button a:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
#button a:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;

}
.cont-img{
    text-align: right;
}
.cont-img img{
    /* background-size: cover; */
    width: 50%;
    border-radius: 40%;
    /* overflow: hidden; */
}
footer{
    padding: 2%;
    color: white;
    background-color: #39e486;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    display: flex;
    margin-bottom: 50px;
}
#menu2{
    background-color: #f02e48;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu2 h1{
    color:black;
    letter-spacing: 2px;
    margin-left: 10px;
 }
 #menu2 ul{
    /* padding: 2%; */
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    height: 20px;
 }
 #menu2 a{
    text-decoration: none;
    color:white;
 }
#teladefundo2{
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(18,194,233);
    background: linear-gradient(90deg, rgba(18,194,233,1) 0%, rgba(160,129,236,1) 40%, rgba(246,79,89,1) 100%);
}
.aviso{
    top: 500px;
    left: 920px;
    position: fixed;
    position: center;
    Background-position: center; 
}
#final2{
    background-color: #8cdaf1;
    
}
    #menu3{
    background-color: #c04848;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu3 h1{
    color:black;
    letter-spacing: 2px;
    margin-left: 10px;
 
 }
 #menu3 ul{
 
    /* padding: 2%; */
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    height: 20px;
 }
 
 #menu3 a{
    text-decoration: none;
    color:white;
 }

 #teladefundo3{
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(72,0,72);
    background: linear-gradient(90deg, rgba(72,0,72,1) 0%, rgba(192,72,72,1) 100%);

}
#teladefundo3 p{
    display: flex;
    top: 100px;
    left: 800px;
    position: fixed;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    position: fixed;
    position: center;
    Background-position: center; 
    top: 220px;
    left: 500px;
}
.container .card{
    position: relative;
    width: 250px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:  rgba(225, 225, 225, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    transition: 0.5s;
    opacity: 0;

}
.container .card:hover .content{
 
    transform: translateY(0px); 
    opacity: 1;

}
.container .card .content h2{
    position: absolute;
    top: -100px;
    right: 70px;
    font-size: 6em;
    color: rgba(255,255,255, 0.05);
    pointer-events: none;
    left: 15px;


}
.container .card .content h3{
    font-size: 1.8em;
    color:#fff;
    z-index: 1;

}
.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight:300;

}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
#final{
    background-color:#c04848;
    
}

#menu4{
    background-color: #8cdaf1;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu4 h1{
   color:black;
   letter-spacing: 2px;
   margin-left: 10px;

}
#menu4 ul{

    /* padding: 2%; */
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

#menu4 a{
    text-decoration: none;
    color:white;
}
#teladefundo4{
  
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,209,148);
    background: linear-gradient(90deg, rgba(255,209,148,1) 0%, rgba(112,225,245,1) 100%);
}
#teladefundo4 ul{
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}
#final3{
    background-color: #8cdaf1;
    
}

/* #teladefundo4 img{
    width: 200%;
} */



/*.texto  {
    color: rgb(0, 0, 0);
    top: 250px;
    left: 500px;
    position: fixed;
    position: center;
    Background-position: center;
  }


}
#menu2 ul{
    background-color: #39bce4;
    padding: 2%;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    flex-direction: row;
}
#menu3 ul{
    background-color: #76e455;
    padding: 2%;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    flex-direction: row;
}
/*
